@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



.navbar-simple {
	padding-top: 15px;
	padding-bottom: 15px;
	background: none;
	filter: none !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navLinkStyle {
	color: white;
}




#homeHeader {
	padding-top: 200px;
	padding-bottom: 200px;
	background: url(../assets/slcValley.jpg) no-repeat center center fixed;
	background-size: cover;
	background-color: #02734A;
	background-attachment: fixed;
	background-position: middle;
	margin-top: -22px;
	
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
@media screen and (min-width: 1199px) {
	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    max-height: 327px;
	}
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    max-height: 355px;
	    
	}
}


@media screen and (max-width: 991px) {
	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}


.whiteBox {
	background-color: #EEEEEE;
	height: 100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
	margin-right: 30px;
}
.marginLeft {
	margin-left: 30px;
}
.hackathonHeader {
	font-size: 63px;
}

.hackathonP {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
}

button{
	border:none;
	padding:0px;
	background-color: transparent;
	cursor:pointer;
}


.button-large {
	width:150px;
	height:50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.button-normal {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: orange;
	background-image: linear-gradient(to bottom, orange, darkorange);
	color:#FFF;
	font-size:20px;
	-webkit-transition: background-color .3s ease;
	   -moz-transition: background-color .3s ease;
	    -ms-transition: background-color .3s ease;
	     -o-transition: background-color .3s ease;
	        transition: background-color .3s ease;
}

button:focus {
	border:0px;
}

.button-normal:hover {
	background-color: #227596;
	background-image: linear-gradient(to bottom, orange, rgb(252, 197, 97));


	-webkit-transition: background-color .3s ease;
	   -moz-transition: background-color .3s ease;
	    -ms-transition: background-color .3s ease;
	     -o-transition: background-color .3s ease;
	        transition: background-color .3s ease;
}



